In [1]:
import numpy as np
import pandas as pd

In [22]:
tco = pd.read_csv('C:/Users/karan/Oklahoma_texas_colorado.csv')

In [25]:
new = pd.read_csv('C:/Users/karan/tco_pop.csv')

In [53]:
tco[tco['Crash_ID']==10221660]

,Crash_ID,COUNTY_FIPS,COUNTY,INJURY_COUNT,INJURY_OUTCOME,INJURY_COUNT_SUM,BLOWING SAND/SNOW,CLEAR,CLOUDY,FOG,...,"ALCOHOL, DRUG",DRUG,MARIJUANA,MEDICINAL,NO INTOXICATION,YEAR_CAT,YEAR_2019,YEAR_2020,YEAR_2021,STATE
1184,10221660,8115,SEDGWICK,0,0,2,0.0,100.0,0.0,0.0,...,0.0,0.0,0.0,0.0,100.0,3.0,0,0,1,Colorado

In [52]:
new[new['Crash_ID']==10221660]

     POPULATION  Crash_ID
953      2326.0  10221660

In [50]:
n1 = pd.merge(tco, new,on=['Crash_ID'],how='left')

In [54]:
n1

,Crash_ID,COUNTY_FIPS,COUNTY,INJURY_COUNT,INJURY_OUTCOME,INJURY_COUNT_SUM,BLOWING SAND/SNOW,CLEAR,CLOUDY,FOG,...,DRUG,MARIJUANA,MEDICINAL,NO INTOXICATION,YEAR_CAT,YEAR_2019,YEAR_2020,YEAR_2021,STATE,POPULATION
0,15585669,48141,El Paso,0,0,2850,0.324254,90.466926,4.824903,0.025940,...,0.025940,0.038911,0.012970,99.753567,1.0,1,0,0,Texas,839238.0
1,16473665,48241,Jasper,1,1,128,0.000000,67.751479,18.047337,0.295858,...,0.295858,0.295858,0.295858,99.112426,1.0,1,0,0,Texas,35529.0
2,16585839,48113,Dallas,1,1,9934,0.005244,73.614388,13.774841,0.194012,...,0.115358,0.094384,0.068166,98.615699,1.0,1,0,0,Texas,2635516.0
3,16824710,48303,Lubbock,2,1,1596,0.489274,78.208506,14.076026,0.940911,...,0.075273,0.112909,0.150546,99.623636,1.0,1,0,0,Texas,310569.0
4,16824789,48201,Harris,0,0,13527,0.002966,70.935405,17.533662,0.418174,...,0.041521,0.023726,0.032624,99.661902,1.0,1,0,0,Texas,4713325.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1180,10212672,8103,RIO BLANCO,2,1,25,0.000000,73.529412,11.764706,1.470588,...,0.000000,1.470588,0.000000,88.235294,3.0,0,0,1,Colorado,6442.0
1181,10214252,8009,BACA,0,0,10,0.000000,75.757576,0.000000,0.000000,...,0.000000,3.030303,0.000000,93.939394,3.0,0,0,1,Colorado,3490.0
1182,10214428,8065,LAKE,1,1,26,8.695652,78.260870,4.347826,0.000000,...,0.000000,13.043478,0.000000,60.869565,3.0,0,0,1,Colorado,7395.0
1183,10215666,8017,CHEYENNE,1,1,9,0.000000,86.666667,0.000000,6.666667,...,0.000000,6.666667,0.000000,86.666667,3.0,0,0,1,Colorado,1719.0
1184,10221660,8115,SEDGWICK,0,0,2,0.000000,100.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,100.000000,3.0,0,0,1,Colorado,2326.0

In [56]:
n1['INJURY_RATE'] = (n1['INJURY_COUNT_SUM']/n1['POPULATION']*100000)

In [57]:
n1

,Crash_ID,COUNTY_FIPS,COUNTY,INJURY_COUNT,INJURY_OUTCOME,INJURY_COUNT_SUM,BLOWING SAND/SNOW,CLEAR,CLOUDY,FOG,...,MARIJUANA,MEDICINAL,NO INTOXICATION,YEAR_CAT,YEAR_2019,YEAR_2020,YEAR_2021,STATE,POPULATION,INJURY_RATE
0,15585669,48141,El Paso,0,0,2850,0.324254,90.466926,4.824903,0.025940,...,0.038911,0.012970,99.753567,1.0,1,0,0,Texas,839238.0,339.593774
1,16473665,48241,Jasper,1,1,128,0.000000,67.751479,18.047337,0.295858,...,0.295858,0.295858,99.112426,1.0,1,0,0,Texas,35529.0,360.269076
2,16585839,48113,Dallas,1,1,9934,0.005244,73.614388,13.774841,0.194012,...,0.094384,0.068166,98.615699,1.0,1,0,0,Texas,2635516.0,376.928085
3,16824710,48303,Lubbock,2,1,1596,0.489274,78.208506,14.076026,0.940911,...,0.112909,0.150546,99.623636,1.0,1,0,0,Texas,310569.0,513.895463
4,16824789,48201,Harris,0,0,13527,0.002966,70.935405,17.533662,0.418174,...,0.023726,0.032624,99.661902,1.0,1,0,0,Texas,4713325.0,286.994850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1180,10212672,8103,RIO BLANCO,2,1,25,0.000000,73.529412,11.764706,1.470588,...,1.470588,0.000000,88.235294,3.0,0,0,1,Colorado,6442.0,388.078237
1181,10214252,8009,BACA,0,0,10,0.000000,75.757576,0.000000,0.000000,...,3.030303,0.000000,93.939394,3.0,0,0,1,Colorado,3490.0,286.532951
1182,10214428,8065,LAKE,1,1,26,8.695652,78.260870,4.347826,0.000000,...,13.043478,0.000000,60.869565,3.0,0,0,1,Colorado,7395.0,351.588911
1183,10215666,8017,CHEYENNE,1,1,9,0.000000,86.666667,0.000000,6.666667,...,6.666667,0.000000,86.666667,3.0,0,0,1,Colorado,1719.0,523.560209
1184,10221660,8115,SEDGWICK,0,0,2,0.000000,100.000000,0.000000,0.000000,...,0.000000,0.000000,100.000000,3.0,0,0,1,Colorado,2326.0,85.984523

In [58]:
mapp = {
    'Texas':1,
    'Colorado':2,
    'Oklahoma':3
}

In [59]:
n1['STATE_CAT'] = n1['STATE'].map(mapp)

In [60]:
n1['STATE_CAT'].unique()

array([1, 3, 2], dtype=int64)

In [61]:
n2 = n1.copy()

In [62]:
dummies = pd.get_dummies(n2['STATE'], prefix='STATE')

In [63]:
dummies

      STATE_Colorado  STATE_Oklahoma  STATE_Texas
0                  0               0            1
1                  0               0            1
2                  0               0            1
3                  0               0            1
4                  0               0            1
...              ...             ...          ...
1180               1               0            0
1181               1               0            0
1182               1               0            0
1183               1               0            0
1184               1               0            0

[1185 rows x 3 columns]

In [64]:
v = pd.concat([n2,dummies],axis=1)

In [66]:
v.to_csv('tco_injury_new.csv',index= False)

In [67]:
v.isna().sum()

Crash_ID                 0
COUNTY_FIPS              0
COUNTY                   0
INJURY_COUNT             0
INJURY_OUTCOME           0
INJURY_COUNT_SUM         0
BLOWING SAND/SNOW        0
CLEAR                    0
CLOUDY                   0
FOG                      0
OTHER_WEATHER            0
RAIN                     0
SEVERE CROSSWINDS        0
SLEET/HAIL               0
SNOW_WEATHER             0
UNKNOWN_WEATHER          0
DARK-LIGHTED             0
DARK-NOT LIGHTED         0
DARK-UNKNOWN LIGHTING    0
DAWN                     0
DAYLIGHT                 0
DUSK                     0
OTHER_LIGHT              0
UNKNOWN_LIGHT            0
INATTENTION              0
SPEEDING                 0
CITY STREET              0
COUNTY ROAD              0
FARM TO MARKET           0
INTERSTATE               0
OTHER ROADS              0
TOLL BRIDGES             0
TOLLWAY                  0
US & STATE HIGHWAY       0
NO_INJURY                0
YES_INJURY               0
ALCOHOL                  0
ALCOHOL, DRUG            0
DRUG                     0
MARIJUANA                0
MEDICINAL                0
NO INTOXICATION          0
YEAR_CAT                 0
YEAR_2019                0
YEAR_2020                0
YEAR_2021                0
STATE                    0
POPULATION               6
INJURY_RATE              6
STATE_CAT                0
STATE_Colorado           0
STATE_Oklahoma           0
STATE_Texas              0
dtype: int64