In [2]:
import numpy as np
import pandas as pd

In [3]:
texas = pd.read_csv('C:/Users/karan/texas_new_buffer.csv')

In [10]:
for i  in texas.columns:
    print(i)

Crash_ID
AGE
GENDER
COUNTY_FIPS
COUNTY
INTERSECTION
WEATHER
LIGHTING
SURFACE
HUMAN_FACTOR
ROAD_CLASS
MEDIANWIDTH
LANES
ROADWIDTH
AADT
INJURY_OUTCOME
INJURY_COUNT
INTOXICATION
BUFF_DIST
ORIG_FID
Shape_Length
Shape_Area
AGE_BAND
AGE 1-21
AGE 22-30
AGE 31-65
AGE 66 and above
Unknown Age
GENDER_DESC
FEMALE
MALE
UNKNOWN_GENDER
INTERSECTION_DESC
NO_INTERSECTION
YES_INTERSECTION
WEATHER_DESC
BLOWING SAND/SNOW
CLEAR
CLOUDY
FOG
OTHER_WEATHER
RAIN
SEVERE CROSSWINDS
SLEET/HAIL
SNOW_WEATHER
UNKNOWN_WEATHER
LIGHTING_DESC
DARK-LIGHTED
DARK-NOT LIGHTED
DARK-UNKNOWN LIGHTING
DAWN
DAYLIGHT
DUSK
OTHER_LIGHT
UNKNOWN_LIGHT
SURF_DESC
DIRT
DRY
ICE
OTHER_SURF
SLUSH
SNOW_SURF
STANDING_WATER
UNKNOWN_SURF
WET
HUMAN_FACTOR_DESC
IMPAIRMENT
INATTENTION
KNOWN_HUMAN_FACTOR
LANE_CHNG
NO_FAULT
SPEEDING
TAILGATING
TECH_PARK
TURNING
UNKNOWN_HUMAN_FACTOR
UNSAFE_BACKING
VIOLATION
ROAD_TYPE_DESC
CITY STREET
COUNTY ROAD
FARM TO MARKET
INTERSTATE
OTHER ROADS
TOLL BRIDGES
TOLLWAY
US & STATE HIGHWAY
INJURY_DESC
NO_INJURY
YES_INJURY
INTOXICATION_DESC
ALCOHOL
ALCOHOL, DRUG
DRUG
MARIJUANA
MEDICINAL
NO INTOXICATION
INJURY_COUNT_SUM
YEAR_CAT
YEAR_2019
YEAR_2020
YEAR_2021
LANE 1
LANE 10
LANE 11
LANE 12
LANE 13
LANE 14
LANE 2
LANE 3
LANE 4
LANE 5
LANE 6
LANE 7
LANE 8
LANE 9

In [12]:
texas[['AGE 1-21',
'AGE 22-30',
'AGE 31-65',
'AGE 66 and above',
'Unknown Age']]

      AGE 1-21  AGE 22-30  AGE 31-65  AGE 66 and above  Unknown Age
0    12.269780  25.875486  55.214008          6.640726     0.000000
1    15.680473  23.964497  47.633136         12.721893     0.000000
2     8.279587  23.826753  63.688323          4.205338     0.000000
3    16.861122  26.157320  49.153180          7.828378     0.000000
4     9.701050  24.547719  61.008957          4.668130     0.074144
..         ...        ...        ...               ...          ...
757  18.181818   9.090909  63.636364          9.090909     0.000000
758  28.571429  28.571429  42.857143          0.000000     0.000000
759  16.666667   0.000000  83.333333          0.000000     0.000000
760   0.000000  13.333333  73.333333         13.333333     0.000000
761  14.285714  14.285714  57.142857         14.285714     0.000000

[762 rows x 5 columns]

In [4]:
okla = pd.read_csv('C:/Users/karan/okla_county_year.csv')

In [14]:
okla.columns

Index(['Join_Count', 'TARGET_FID', 'Crash_ID', 'County_FIP', 'COUNTY', 'CITY',
       'LIGHTING_CAT', 'WEATHER_CAT', 'ROAD_CLASS', 'INTOXICATION',
       'INATTENTION', 'SPEEDING', 'TEEN_DRIVE', 'OLDER_DRIV', 'INJURY_COUNT',
       'INJURY_OUTCOME', 'ROUTE_ID', 'FROM_MEASU', 'TO_MEASURE', 'AADT',
       'MEDIANWIDT', 'FUNCTIONAL', 'LANES', 'ROAD_WIDTH', 'MLENGTH',
       'BUFF_DIST', 'ORIG_FID', 'Shape_Length', 'Shape_Area', 'WEATHER_DESC',
       'BLOWING SAND/SNOW', 'CLEAR', 'CLOUDY', 'FOG', 'OTHER', 'RAIN',
       'SEVERE CROSSWINDS', 'SLEET/HAIL', 'SNOW', 'UNKNOWN_WEATHER',
       'LIGHTING_DESC', 'DARK-LIGHTED', 'DARK-NOT LIGHTED',
       'DARK-UNKNOWN LIGHTING', 'DAWN', 'DAYLIGHT', 'DUSK', 'OTHER_LIGHT',
       'UNKNOWN_LIGHT', 'ROAD_TYPE_DESC', 'CITY STREET', 'COUNTY ROAD',
       'INTERSTATE', 'OTHER ROADS', 'US & STATE HIGHWAY', 'INTOXICATION_DESC',
       'ALCOHOL', 'ALCOHOL, DRUG', 'DRUG', 'NO INTOXICATION',
       'INATTENTION_DESC', 'NO_INATTENTION', 'YES_INATTENTION', 'INJURY_DESC',
       'NO INJURY_OUTCOME', 'YES INJURY_OUTCOME', 'LANE_COUNT', 'LANE 0',
       'LANE 1', 'LANE 10', 'LANE 2', 'LANE 3', 'LANE 4', 'LANE 6', 'LANE 8',
       'INJURY_COUNT_SUM', 'ROAD_WIDTH_MEDIAN', 'ROAD_WIDTH_SUM',
       'NO_SPEEDING', 'YES_SPEEDING', 'YEAR_CAT', 'YEAR_2019', 'YEAR_2020',
       'YEAR_2021', 'STATE'],
      dtype='object')

In [15]:
okla[['TEEN_DRIVE', 'OLDER_DRIV']]

     TEEN_DRIVE  OLDER_DRIV
0             0           0
1             0           0
2             0           0
3             0           0
4             0           1
..          ...         ...
226           0           1
227           1           0
228           1           0
229           1           0
230           0           0

[231 rows x 2 columns]

In [28]:
okla['ADULT_DRIVER'] = np.where(((okla['TEEN_DRIVE']==0) &(okla['OLDER_DRIV']==0)),1,0)

In [29]:
okla[['TEEN_DRIVE', 'OLDER_DRIV','ADULT_DRIVER']]

     TEEN_DRIVE  OLDER_DRIV  ADULT_DRIVER
0             0           0             1
1             0           0             1
2             0           0             1
3             0           0             1
4             0           1             0
..          ...         ...           ...
226           0           1             0
227           1           0             0
228           1           0             0
229           1           0             0
230           0           0             1

[231 rows x 3 columns]

In [16]:
texas[['AGE 1-21',
'AGE 22-30',
'AGE 31-65',
'AGE 66 and above',
'Unknown Age']]

      AGE 1-21  AGE 22-30  AGE 31-65  AGE 66 and above  Unknown Age
0    12.269780  25.875486  55.214008          6.640726     0.000000
1    15.680473  23.964497  47.633136         12.721893     0.000000
2     8.279587  23.826753  63.688323          4.205338     0.000000
3    16.861122  26.157320  49.153180          7.828378     0.000000
4     9.701050  24.547719  61.008957          4.668130     0.074144
..         ...        ...        ...               ...          ...
757  18.181818   9.090909  63.636364          9.090909     0.000000
758  28.571429  28.571429  42.857143          0.000000     0.000000
759  16.666667   0.000000  83.333333          0.000000     0.000000
760   0.000000  13.333333  73.333333         13.333333     0.000000
761  14.285714  14.285714  57.142857         14.285714     0.000000

[762 rows x 5 columns]

In [34]:
texas.rename(columns={'AGE 1-21':'TEEN_DRIVE','AGE 66 and above':'OLDER_DRIV'},inplace= True)

In [35]:
texas['ADULT_DRIVER'] = texas[['AGE 22-30','AGE 31-65']].sum(axis=1)

In [37]:
texas[['TEEN_DRIVE','OLDER_DRIV','ADULT_DRIVER']]

     TEEN_DRIVE  OLDER_DRIV  ADULT_DRIVER
0     12.269780    6.640726     81.089494
1     15.680473   12.721893     71.597633
2      8.279587    4.205338     87.515075
3     16.861122    7.828378     75.310501
4      9.701050    4.668130     85.556676
..          ...         ...           ...
757   18.181818    9.090909     72.727273
758   28.571429    0.000000     71.428571
759   16.666667    0.000000     83.333333
760    0.000000   13.333333     86.666667
761   14.285714   14.285714     71.428571

[762 rows x 3 columns]

In [38]:
ok = okla[['TEEN_DRIVE', 'OLDER_DRIV','ADULT_DRIVER']]

In [39]:
ok_total_counts = ok.sum(axis=1)

In [40]:
ok_total_counts

0      1
1      1
2      1
3      1
4      1
      ..
226    1
227    1
228    1
229    1
230    1
Length: 231, dtype: int64

In [41]:
ok_percentage = (ok.div(ok_total_counts, axis=0) * 100).round(2)

In [42]:
ok_percentage

     TEEN_DRIVE  OLDER_DRIV  ADULT_DRIVER
0           0.0         0.0         100.0
1           0.0         0.0         100.0
2           0.0         0.0         100.0
3           0.0         0.0         100.0
4           0.0       100.0           0.0
..          ...         ...           ...
226         0.0       100.0           0.0
227       100.0         0.0           0.0
228       100.0         0.0           0.0
229       100.0         0.0           0.0
230         0.0         0.0         100.0

[231 rows x 3 columns]

In [18]:
for i in texas.columns:
    print(i)

Crash_ID
AGE
GENDER
COUNTY_FIPS
COUNTY
INTERSECTION
WEATHER
LIGHTING
SURFACE
HUMAN_FACTOR
ROAD_CLASS
MEDIANWIDTH
LANES
ROADWIDTH
AADT
INJURY_OUTCOME
INJURY_COUNT
INTOXICATION
BUFF_DIST
ORIG_FID
Shape_Length
Shape_Area
AGE_BAND
AGE 1-21
AGE 22-30
AGE 31-65
AGE 66 and above
Unknown Age
GENDER_DESC
FEMALE
MALE
UNKNOWN_GENDER
INTERSECTION_DESC
NO_INTERSECTION
YES_INTERSECTION
WEATHER_DESC
BLOWING SAND/SNOW
CLEAR
CLOUDY
FOG
OTHER_WEATHER
RAIN
SEVERE CROSSWINDS
SLEET/HAIL
SNOW_WEATHER
UNKNOWN_WEATHER
LIGHTING_DESC
DARK-LIGHTED
DARK-NOT LIGHTED
DARK-UNKNOWN LIGHTING
DAWN
DAYLIGHT
DUSK
OTHER_LIGHT
UNKNOWN_LIGHT
SURF_DESC
DIRT
DRY
ICE
OTHER_SURF
SLUSH
SNOW_SURF
STANDING_WATER
UNKNOWN_SURF
WET
HUMAN_FACTOR_DESC
IMPAIRMENT
INATTENTION
KNOWN_HUMAN_FACTOR
LANE_CHNG
NO_FAULT
SPEEDING
TAILGATING
TECH_PARK
TURNING
UNKNOWN_HUMAN_FACTOR
UNSAFE_BACKING
VIOLATION
ROAD_TYPE_DESC
CITY STREET
COUNTY ROAD
FARM TO MARKET
INTERSTATE
OTHER ROADS
TOLL BRIDGES
TOLLWAY
US & STATE HIGHWAY
INJURY_DESC
NO_INJURY
YES_INJURY
INTOXICATION_DESC
ALCOHOL
ALCOHOL, DRUG
DRUG
MARIJUANA
MEDICINAL
NO INTOXICATION
INJURY_COUNT_SUM
YEAR_CAT
YEAR_2019
YEAR_2020
YEAR_2021
LANE 1
LANE 10
LANE 11
LANE 12
LANE 13
LANE 14
LANE 2
LANE 3
LANE 4
LANE 5
LANE 6
LANE 7
LANE 8
LANE 9
STATE

In [36]:
for i in okla.columns:
    print(i)

Join_Count
TARGET_FID
Crash_ID
COUNTY_FIPS
COUNTY
CITY
LIGHTING_CAT
WEATHER_CAT
ROAD_CLASS
INTOXICATION
TEEN_DRIVE
OLDER_DRIV
INJURY_COUNT
INJURY_OUTCOME
ROUTE_ID
FROM_MEASU
TO_MEASURE
AADT
MEDIANWIDTH
FUNCTIONAL
LANES
ROAD_WIDTH
MLENGTH
BUFF_DIST
ORIG_FID
Shape_Length
Shape_Area
WEATHER_DESC
BLOWING SAND/SNOW
CLEAR
CLOUDY
FOG
OTHER_WEATHER
RAIN
SEVERE CROSSWINDS
SLEET/HAIL
SNOW_WEATHER
UNKNOWN_WEATHER
LIGHTING_DESC
DARK-LIGHTED
DARK-NOT LIGHTED
DARK-UNKNOWN LIGHTING
DAWN
DAYLIGHT
DUSK
OTHER_LIGHT
UNKNOWN_LIGHT
ROAD_TYPE_DESC
CITY STREET
COUNTY ROAD
INTERSTATE
OTHER ROADS
TOLL BRIDGES
TOLLWAY
US & STATE HIGHWAY
INTOXICATION_DESC
ALCOHOL
ALCOHOL, DRUG
DRUG
MARIJUANA
MEDICINAL
NO INTOXICATION
INATTENTION_DESC
NO_INATTENTION
INATTENTION
INJURY_DESC
NO_INJURY
YES_INJURY
LANE_COUNT
LANE 0
LANE 1
LANE 10
LANE 2
LANE 3
LANE 4
LANE 6
LANE 8
INJURY_COUNT_SUM
ROAD_WIDTH_MEDIAN
ROAD_WIDTH_SUM
NO_SPEEDING
SPEEDING
YEAR_CAT
YEAR_2019
YEAR_2020
YEAR_2021
STATE

In [16]:
okla['Shape_Area']

0      1.815844e-08
1      1.814514e-08
2      1.817369e-08
3      1.804058e-08
4      1.824027e-08
           ...
226    1.474446e-08
227    1.474446e-08
228    1.474446e-08
229    1.474446e-08
230    1.474446e-08
Name: Shape_Area, Length: 231, dtype: float64

In [17]:
texas['STATE'] = 'Texas'

In [19]:
okla.rename(columns={'County_FIP':'COUNTY_FIPS'},inplace= True)

In [20]:
okla.rename(columns={'OTHER':'OTHER_WEATHER','SNOW':'SNOW_WEATHER','NO INJURY_OUTCOME':'NO_INJURY','YES INJURY_OUTCOME':'YES_INJURY'},inplace= True)

In [21]:
okla.drop(columns=['SPEEDING','INATTENTION'],inplace= True)

In [22]:
okla.rename(columns={'YES_INATTENTION':'INATTENTION','YES_SPEEDING':'SPEEDING'},inplace=True)

In [23]:
okla.columns.get_loc('OTHER ROADS')

51

In [24]:
okla.insert(52,'TOLL BRIDGES',0)

In [25]:
okla.columns.get_loc('TOLL BRIDGES')

52

In [26]:
okla.insert(53,'TOLLWAY',0)

In [28]:
okla.columns.get_loc('DRUG')

58

In [29]:
okla.insert(59,'MARIJUANA',0)

In [30]:
okla.columns.get_loc('MARIJUANA')

59

In [31]:
okla.insert(60,'MEDICINAL',0)

In [35]:
okla.rename(columns={'MEDIANWIDT':'MEDIANWIDTH'},inplace= True)

In [38]:
cols = ['Crash_ID',
'COUNTY_FIPS',
'COUNTY',
       'AADT','MEDIANWIDTH','INJURY_COUNT',
'INJURY_OUTCOME','INJURY_COUNT_SUM','Shape_Length',
'Shape_Area','BLOWING SAND/SNOW',
'CLEAR',
'CLOUDY',
'FOG',
'OTHER_WEATHER',
'RAIN',
'SEVERE CROSSWINDS',
'SLEET/HAIL',
'SNOW_WEATHER',
'UNKNOWN_WEATHER','DARK-LIGHTED',
'DARK-NOT LIGHTED',
'DARK-UNKNOWN LIGHTING',
'DAWN',
'DAYLIGHT',
'DUSK',
'OTHER_LIGHT',
'UNKNOWN_LIGHT','CITY STREET',
'COUNTY ROAD',
'INTERSTATE',
'OTHER ROADS',
'TOLL BRIDGES',
'TOLLWAY',
'US & STATE HIGHWAY','NO_INJURY',
'YES_INJURY','ALCOHOL',
'ALCOHOL, DRUG',
'DRUG',
'MARIJUANA',
'MEDICINAL',
'NO INTOXICATION',
       'INATTENTION','SPEEDING',
       'YEAR_CAT',
'YEAR_2019',
'YEAR_2020',
'YEAR_2021',
'STATE']

In [39]:
texas1 = texas[cols]

In [40]:
okla1 = okla[cols]

In [41]:
texas1.shape, okla1.shape

((762, 50), (231, 50))

In [42]:
tc1 = pd.concat([texas1,okla1],axis=0)

In [43]:
tc1

,Crash_ID,COUNTY_FIPS,COUNTY,AADT,MEDIANWIDTH,INJURY_COUNT,INJURY_OUTCOME,INJURY_COUNT_SUM,Shape_Length,Shape_Area,...,MARIJUANA,MEDICINAL,NO INTOXICATION,INATTENTION,SPEEDING,YEAR_CAT,YEAR_2019,YEAR_2020,YEAR_2021,STATE
0,15585669,48141,El Paso,52681,2,0,0,2850,0.000187,2.763326e-09,...,0.038911,0.012970,99.753567,2.581064,0.051881,1.0,1,0,0,Texas
1,16473665,48241,Jasper,10634,0,1,1,128,0.000186,2.732962e-09,...,0.295858,0.295858,99.112426,8.284024,2.662722,1.0,1,0,0,Texas
2,16585839,48113,Dallas,133758,4,1,1,9934,0.000189,2.795334e-09,...,0.094384,0.068166,98.615699,4.362645,0.089141,1.0,1,0,0,Texas
3,16824710,48303,Lubbock,18142,0,2,1,1596,0.000190,2.820261e-09,...,0.112909,0.150546,99.623636,5.419646,0.112909,1.0,1,0,0,Texas
4,16824789,48201,Harris,49221,53,0,0,13527,0.000185,2.702504e-09,...,0.023726,0.032624,99.661902,1.494751,0.062281,1.0,1,0,0,Texas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,300504729,40067,Jefferson,50400,20,1,1,8,0.000431,1.474446e-08,...,0.000000,0.000000,100.000000,25.000000,0.000000,3.0,0,0,1,Oklahoma
227,300501977,40129,Roger Mills,50400,20,0,0,2,0.000431,1.474446e-08,...,0.000000,0.000000,100.000000,0.000000,0.000000,3.0,0,0,1,Oklahoma
228,300511808,40045,Ellis,50400,20,2,1,6,0.000431,1.474446e-08,...,0.000000,0.000000,100.000000,20.000000,0.000000,3.0,0,0,1,Oklahoma
229,300506547,40057,Harmon,50400,20,3,1,5,0.000431,1.474446e-08,...,0.000000,0.000000,100.000000,33.333333,0.000000,3.0,0,0,1,Oklahoma
230,300526897,40043,Dewey,50400,20,1,1,15,0.000431,1.474446e-08,...,0.000000,0.000000,100.000000,25.000000,0.000000,3.0,0,0,1,Oklahoma

In [45]:
mapping ={
    'Texas':1,
    'Oklahoma':2
}

In [ ]:
tc1['YEAR']

In [46]:
tc1['STATE_CAT'] = tc1['STATE'].map(mapping)

In [50]:
tc1

,Crash_ID,COUNTY_FIPS,COUNTY,AADT,MEDIANWIDTH,INJURY_COUNT,INJURY_OUTCOME,INJURY_COUNT_SUM,Shape_Length,Shape_Area,...,MEDICINAL,NO INTOXICATION,INATTENTION,SPEEDING,YEAR_CAT,YEAR_2019,YEAR_2020,YEAR_2021,STATE,STATE_CAT
0,15585669,48141,El Paso,52681,2,0,0,2850,0.000187,2.763326e-09,...,0.012970,99.753567,2.581064,0.051881,1.0,1,0,0,Texas,1
1,16473665,48241,Jasper,10634,0,1,1,128,0.000186,2.732962e-09,...,0.295858,99.112426,8.284024,2.662722,1.0,1,0,0,Texas,1
2,16585839,48113,Dallas,133758,4,1,1,9934,0.000189,2.795334e-09,...,0.068166,98.615699,4.362645,0.089141,1.0,1,0,0,Texas,1
3,16824710,48303,Lubbock,18142,0,2,1,1596,0.000190,2.820261e-09,...,0.150546,99.623636,5.419646,0.112909,1.0,1,0,0,Texas,1
4,16824789,48201,Harris,49221,53,0,0,13527,0.000185,2.702504e-09,...,0.032624,99.661902,1.494751,0.062281,1.0,1,0,0,Texas,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,300504729,40067,Jefferson,50400,20,1,1,8,0.000431,1.474446e-08,...,0.000000,100.000000,25.000000,0.000000,3.0,0,0,1,Oklahoma,2
227,300501977,40129,Roger Mills,50400,20,0,0,2,0.000431,1.474446e-08,...,0.000000,100.000000,0.000000,0.000000,3.0,0,0,1,Oklahoma,2
228,300511808,40045,Ellis,50400,20,2,1,6,0.000431,1.474446e-08,...,0.000000,100.000000,20.000000,0.000000,3.0,0,0,1,Oklahoma,2
229,300506547,40057,Harmon,50400,20,3,1,5,0.000431,1.474446e-08,...,0.000000,100.000000,33.333333,0.000000,3.0,0,0,1,Oklahoma,2
230,300526897,40043,Dewey,50400,20,1,1,15,0.000431,1.474446e-08,...,0.000000,100.000000,25.000000,0.000000,3.0,0,0,1,Oklahoma,2

In [51]:
dummies = pd.get_dummies(tc1,columns=['STATE'])

In [55]:
df_with_dummies = pd.get_dummies(tc1, columns=['STATE'], prefix='STATE', drop_first=False)

In [59]:
dummies = pd.get_dummies(tc1['STATE'], prefix='STATE')

In [60]:
tc = df_with_dummies = pd.concat([tc1, dummies], axis=1)

In [62]:
tc.to_csv('texas_okla_final.csv',index= False)